body{
    font-family: "Comic Sans";
}
.banner{
    display: flex;
    background-color: rgba(73, 113, 223, 0.795);
    color:rgb(0, 0, 0);
    padding: 50px;
}
.text{
    position: relative;
    background-color: rgba(133, 143, 88, 0.795);
    top:50%;
    margin: auto;
    text-align: center;
    padding: 100px;
}
.sec1{
    text-align: center;
    margin: auto;
}
.name{
    font-weight: bold;
}
img{
    margin-left: 10%;
    width: 15%;
    height: auto; 
    border-radius: 50%;
}
h4{
    display: inline;
}
.info{
    display: flex;
}
.about{
    font-weight: bold;
}
h2{
    text-align: center;
    text-decoration: underline;
    color: rgba(63, 103, 212, 0.795);
}
.sidebar{
    margin-top: 20px;
    margin-left: 200px;
}
.content{
    padding: 50px;
    background-color: rgba(73, 113, 223, 0.795);
}
.list{
    margin-left: 50px;
}