body{
    font-family: Arial, sans-serif;
}
.banner{
    display: flex;
    background-color: rgb(134, 139, 172);
    color:white;
    padding: 10px;
}
.text{
    position: relative;
    background-color: rgba(28, 164, 209, 0.795);
    top:50%;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.sec1{
    text-align: center;
    margin: auto;
}
.name{
    font-weight: bold;
}
img{
    margin-left: 10%;
    width: 20%;
    height: 5%; 
    border-radius: 5%;
}
h4{
    display: inline;
}
.info{
    display: flex;
}
h2{
    text-align: center;
    text-decoration: underline;
    color: brown;
}
.sidebar{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 300px;
}
.content{
    padding: 20px;
    background-color: grey;
    margin-left: 515px;
}
.offer{
    margin-left: 50px;
}